# Configurações de Email - Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=seu-email@gmail.com
EMAIL_PASSWORD=sua-senha-de-app
EMAIL_FROM=Sistema de Eventos <seu-email@gmail.com>

# Configurações do Banco de Dados
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=sistema_eventos

# Configurações da API
API_URL=http://177.44.248.118:8000/api